<div class="car_form">
    <h1>Create Form</h1>
    <form method="POST" action="">
        <div class="getName">
            <label for="name">Car Model Name</label>
            <input type="text" placeholder="Model Name" 
                    name="name" required="true"
                    value="<%= (undefined === typeof(car)) ? car.name : '' %>">
        </div>
        <div class="getMaker">
            <label for="maker">Car Maker</label>
            <select type="select" name="maker" required="true">
                <option  value="" selected="true">Select a Maker</option>
                <% all_maker.forEach(maker => { %>
                    <% if (undefined !== typeof(car)) { %>
                        <option value="<%=maker.name%>"><%= maker.name%></option>
                    <% } else { %>
                        <option value="<%=maker.name%>"
                            selected="<%=(maker._id.toString() === car.maker) ? 'true' : 'false'%>">
                            <%= maker.name%>
                        </option>
                    <% } %>
                <% }); %>
            </select>
        </div>
        <div class="getType">
            <label for="type">Types</label>
            <select type="select" name="type" required="true">
                <option  value="" selected="true">Select a Type</option>
                <% all_type.forEach(type => { %>
                    <% if (undefined !== typeof(car)) { %>
                        <option value="<%=type.name%>"><%= type.name%></option>
                    <% } else { %>
                        <option value="<%=type.name%>"
                            selected="<%=(type._id.toString() === car.maker) ? 'true' : 'false'%>">
                            <%= type.name%>
                        </option>
                    <% } %>
                <% }); %>
            </select>
        </div>
        <div class="getPrice">
            <label for="price">Car Price(MSRP)</label>
            <input type="number" placeholder="MSRP $" name="price" required="true"
                value="<%= (undefined === typeof(car)) ? car.price : '' %>">
        </div>
        <div class="getDescription">
            <label for="description">Car Description</label>
            <textarea name="description" placeholder="Enter car's description" required="true">
                <%=(undefined === typeof(car)) ? car.des : ''%>
            </textarea>
        </div>
        <div class="getYear">
            <label for="release_year">Released Year</label>
            <input type="number" placeholder="YYYY" name="release_year" required="true"
                value="<%= (undefined === typeof(car)) ? car.release_year: 2000 %>">
        </div>
        <div class="getInStock">
            <label for="number_in_stock">Number in stocks</label>
            <input type="number" placeholder="amount in stock" name="number_in_stock"
                required="true" value="<%= (undefined === typeof(car)) ? car.release_year: 0 %>">
        </div>
        <input type="submit" value="Submit">
    </form>
    <% if (undefined === typeof(errors)) { %>
        <ul>
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
</div>