<div class="maker_form">
    <h1><%=title%></h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <div class="getName">
            <label for="name">Maker Brand Name</label>
            <input type="text" placeholder="Brand name"
                    name="name" required="true"
                    value="<%= (typeof(maker) === 'undefined') ? '' : maker.name %>">
        </div>
        <div class="getEstablishedYear">
            <label for="established_year">Established in</label>
            <input type="number" placeholder="YYYY"
                    name="established_year" required='true'
                    value="<%= (typeof(maker) === 'undefined') ? '' : maker.established_year %>">
        </div>
        <div class="getLogo">
            <label for="logo">Chose a file to upload</label>
            <input type="file" name="logo"
                    value="<%= (typeof(maker) === 'undefined') ? '' : maker.logo %>">
        </div>
        <input type="submit" value="Submit">
    </form>
    <% if ('undefined' !== typeof(errors)) { %>
        <ul>
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
</div>