<div class="type_detail detail">
    <h1><%= type.name %></h1>
    <div class="description">
        <p><%= type.description %></p>
    </div>
    <ul class="type_cars list">
        <div class="hold_list">
            <li class="list_header item type_car_item">
                <p>Model Name</p>
                <p>Maker</p>
            </li>
            <% cars.forEach(car => { %> 
                <li class="item type_car_item">
                    <a href="<%= car.url %>"><%= car.name %></a>
                    <a href="<%= car.maker.url %>"><%= car.maker.name %></a>
                </li>
            <% }) %>
        </div>
    </ul>
    <div class="delete_update">
        <a href="<%= `${type.url}/delete` %>">Delete type</a>
        <a href="<%= `${type.url}/update` %>">Update type</a>
    </div>
</div>